{% extends "base.html" %}
{% block content %}
<!-- edit -->
<h2>Edit Data Siswa</h2>

<form method="post">
    <div style="display: flex; flex-direction: column; gap: 15px; width: 100%; max-width: 400px;">
        <label>Math Score:</label>
        <input type="number" name="math" value="{{ data['math score'] }}" min="0" max="100" required>

        <label>Reading Score:</label>
        <input type="number" name="reading" value="{{ data['reading score'] }}" min="0" max="100" required>

        <label>Writing Score:</label>
        <input type="number" name="writing" value="{{ data['writing score'] }}" min="0" max="100" required>

        <div style="margin-top: 10px;">
            <button type="submit">Update Data</button>
            <a href="/" class="btn-secondary" style="background-color: #6c757d; color: white; text-decoration: none; padding: 10px 25px; border-radius: 6px; display: inline-block; text-align: center; vertical-align: middle;">Batal</a>
        </div>
    </div>
</form>

{% endblock %}
