{% extends "base.html" %}
{% block content %}

<h2>Data Siswa</h2>

<form method="get">
    <select name="gender">
        <option value="">Semua Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>

    <button type="submit">Filter</button>
    <a href="/?show=true" class="btn-show-all">Tampilkan Semua Data</a>
</form>

<table>
<tr>
    <th>No</th>
    <th>Gender</th>
    <th>Math</th>
    <th>Reading</th>
    <th>Writing</th>
    <th>Aksi</th>
</tr>

{% for i, row in data %}
<tr>
    <td>{{ i }}</td>
    <td>{{ row['gender'] }}</td>
    <td>{{ row['math score'] }}</td>
    <td>{{ row['reading score'] }}</td>
    <td>{{ row['writing score'] }}</td>
    <td>
        <div class="actions">
            <a href="/edit/{{ i }}" class="edit-link">Edit</a>
            <a href="/hapus/{{ i }}" class="delete-link">Hapus</a>
        </div>
    </td>
</tr>
{% endfor %}
</table>

{% endblock %}
