{% extends "base.html" %}
{% block content %}

<h2>Tambah Data Siswa</h2>

<form method="post">
    <input name="gender" placeholder="Gender" required>
    <input name="race" placeholder="Race/Ethnicity" required>
    <input name="parent" placeholder="Parental Education" required>
    <input name="lunch" placeholder="Lunch" required>
    <input name="prep" placeholder="Preparation Course" required>

    <input type="number" name="math" placeholder="Math Score" required>
    <input type="number" name="reading" placeholder="Reading Score" required>
    <input type="number" name="writing" placeholder="Writing Score" required>

    <button type="submit">Simpan</button>
    <a href="/">Cancel</a>
</form>

{% endblock %}
