body {
    font-family: Arial;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

a {
    margin-right: 10px;
}
